.logo {
    padding: 20px;
    margin: 10px;
    border-bottom: 3px solid #800000;
    border-left: 3px solid #800000;
    border-right: 3px solid #800000;
    -webkit-border-radius: 4px;
}

.form {
    padding: 20px;
    padding-left: 80px;
    margin: 10px;
    border: 3px solid #800000;
    -webkit-border-radius: 4px;
}

.table-wrapper {
    padding: 10px;
    margin: 10px;
    border: 3px solid #800000;
    -webkit-border-radius: 4px;
}

.hide {
    visibility:hidden;
}
